*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    height:100vh;
    align-items: center;
    align-content: center;
}

.box{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

#image{
    height: 300px;
    width: 300px;
    object-fit: contain;
}

button{
    width: 100px;
    margin-top: 20px;
    font-size: 24px;
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
}


